body {
    margin: 0;
    padding: 0;
}
  
.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 100;
}
  
.menu-icon i {
    font-size: 20px;
}
  
#sidebar {
      width: 250px;
      height: 100vh;
      background-color: #666666;
      position: fixed;
      top: 0;
    
      transition: left 0.3s ease-in-out;
      z-index: 100;
      padding-left: 10px;
      padding-top: 17px;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    
}
@media (max-width: 1300px) {
    #sidebar{
        left: -250px;
    }
  }
#sidebar::-webkit-scrollbar {
        width: 0.5em;
        background-color: transparent;
}
      
      
#sidebar::-webkit-scrollbar-thumb {
          background-color: transparent;
      
}
      
      
#sidebar.active::-webkit-scrollbar-thumb {
          background-color: #888;
}
      
#sidebar::-webkit-scrollbar-thumb:hover {
          background-color: #555;
      
}

  
.slidebar-ul{
      padding-top: 30px;
      list-style-type: none;
}
  
.slidebar-ul a{
      color: #fff;
      text-decoration: none;
  
}
  
.slidebar-ul li {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 5px;
}

.slidebar-ul li:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 90%;
      height: 2px;
      background-color: #fff;
}
  
.dropdown-ul li:after {
      content: none;
}
    
 
.dropdown-ul {
      display: none;
      list-style: none;
      padding-top: 15px;
}
  
  
.slidebar-ul li.active .dropdown-ul {
      display: block;
  }
    
.order-dropdown-icon{
      color: #fff;
      padding-left: 105px;
  
}

.category-dropdown-icon{
      color: #fff;
      padding-left: 90px;
}
.food-dropdown-icon{
      color: #fff;
      padding-left: 110px;
}
  
 .sidebar-open {
    left: 0;
}
  
.close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    color: #fff;
}
  
.close-icon i {
    font-size: 20px;
}

.admin-profile{
      display: flex;
      justify-content: end;
 }

  /**/
  
.table-responsive{
    margin-left: 280px;
    margin-right: 35px;
    margin-top: 15px;
    border: ridge;
    border-radius: 5px
}
.table{
    margin: 5px;
}
.table a{
    text-decoration: none;
}
@media (max-width: 1300px) {
    
    .table-responsive{

        margin-left: 20px;
        margin-right: 3px;
        padding-right: 20px;
    }
}

@media (min-width: 1300px) {
    .close-icon{
        display: none;
    }
}


/* fo cancel icon and whatsapp icon setting in one line */

.icons-container {
    display: inline-flex;
    align-items: center;
}



/* Dark mode styles */
body.dark-mode {
    background-color: #222;
    color: #fff;
}

body.dark-mode #sidebar {
    background-color: #333;
}

body.dark-mode .slidebar-ul a,
body.dark-mode .dropdown-ul a {
    color: #fff;
}

/* Table styles for dark mode */
body.dark-mode .table.table-striped thead tr th{
    color: #fff;
}
body.dark-mode .table.table-striped tbody tr {
    color: #fff;
}

body.dark-mode .table.table-striped tbody tr td{
    color: #fff;
}

body.dark-mode .table.table-striped tbody tr a {
    color: #fff;
}

@media (max-width: 1300px) {
    .col-xs-6 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 0px;
    }
  }

.container{
    margin-right: 0px;
    margin-top: 15px;
    padding-left: 120px;
    padding-right: 30px;
}

.card{
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-text{
    padding-left: 8px;
    padding-top: 2px;
}
.card-body a{
    text-decoration: none;
}
@media (max-width: 1300px) {
    .container{
        padding-left: 20px;
    }
}
.buttons{
    padding-left: 8px;
    padding-top: 3px;
    margin-bottom: 6px;
}

/* Avaialbility switch */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 0;
    right: 0;
    bottom: -3px;
    background-color: #ccc;
    border-radius: 1px; /* Rounded shape */
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 1px; /* Rounded shape */
    transition: .4s;
    }
  
input:checked + .slider {
    background-color: #8cc63f; /* Green color */
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #8cc63f; /* Green color */
}
  
input:checked + .slider:before {
    transform: translateX(20px);
}