<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- table_list.html -->

<table>
    <thead>
      <tr>
        <th>Table Number</th>
        <th>Seating Capacity</th>
        <th>Is Occupied</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for table in tables %}
      <tr>
        <td>{{ table.table_number }}</td>
        <td>{{ table.seating_capacity }}</td>
        <td>{{ table.is_occupied }}</td>
        <td>
            <a href="{% url 'table_update' table.id %}">
                Updtae
            </a>
            <a href="{% url 'table_delete' table.id %}">
                Delete
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</body>
</html>