<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="table_number">Table Number:</label>
        <input type="text" name="table_number" value="{{ table.table_number }}"><br>
      
        <label for="seating_capacity">Seating Capacity:</label>
        <input type="number" name="seating_capacity" value="{{ table.seating_capacity }}"><br>
      
        <label for="is_occupied">Is Occupied:</label>
        <input type="checkbox" name="is_occupied" {% if table.is_occupied %}checked{% endif %}><br>
      
        <input type="submit" value="Update">
      </form>
      
</body>
</html>